# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=roamies_db
POSTGRES_PORT=5433

# Connection string for Server (NestJS / Prisma / TypeORM)
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/roamies_db?schema=public

# Optional: pgAdmin Configuration
PGADMIN_DEFAULT_EMAIL=admin@roamies.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050
